#NextJsToDo{
  max-width: 500px;
  background: #000;
  color: white;
  font-size: 20px;
  margin: 25px auto;
  border-radius: 25px;
  padding: 50px;
}
.input_label{
  display: block;
  font-size: 20px;
}
.input_control{
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  background: #fff;
  border: none;
  outline: none;
  margin-top: 15px;
}
.actionBtn{
  background: white;
  color: black;
  font-size: 20px;
  border: none;
  outline: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  padding: 5px;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
}

.todo_list {
  font-size: 20;
  display: flex;
  justify-content: space-between;
}

.btn_delete{
  background: rgba(255, 0, 0, 0.8);
  color: white;
  width: 60px;
  padding: 4px;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
}
.btn_edit{
  background: rgba(0, 0, 255, 0.8);
  color: white;
  width: 60px;
  padding: 4px;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}